
<div class="signup" align="center">
			
<ul>
		<li>
			User Name <input type="text" id="uname">
		</li>
		
		<li>
			User Password <input type="password" id="password" >
		</li>
		<li>
			Confirm Password <input type="password" id="confirm_password" >
			<span id='msg'></span>
		</li>
		<li>
			Mobile Number <input type="text" id="mno">
		</li>
		<li>
			Email ID <input type="text" id="eid">
		</li>
		<li>
			<input type="button" value="SUBMIT" onclick="registerUserDetails()">
	
		</li>
	</ul>
</div>

